<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EMasters{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='shortcut icon' type='image/x-icon' href = "{% static 'img/favicon.png' %}" />
    <script src="{% static 'js/jquery-2.2.2.min.js' %}" rel="script"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'forum.css' %}">
</head>
<body>
    <nav class="navbar navbar-inverse">
    <!-- Header -->
    <div class="container-fluid">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'courses:index' %}"><img src ="{% static 'img/logo.jpg' %}" /></a>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'courses:index'%}">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;
                        Course
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'forum' %">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;
                        Forum
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'courses:course-add' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                        Add Course
                    </a>
                </li>
                <li class="">
                    <a  href="{% url 'auth_logout' %}"> Logout
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </a>

                </li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>